<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<meta name="format-detection" content="telephone=no" />
		<title>我的考勤</title>
		<link rel="stylesheet" type="text/css" href="../../../../../css/aui/aui.css"/>
		<link rel="stylesheet" type="text/css" href="../../../../../css/module/common/aui-list-swipe.css" />
		<link rel="stylesheet" type="text/css" href="../../../../../css/module/common/kaoqin.css" />
		<link id="j_theme_base" rel="stylesheet" type="text/css" href="" />
	</head>
	<body class="axis-body common-ipad-kaoqinIpad-tea">
		<div class="msg-top"></div>
		<div id="msg_top_all" style="height:0px; overflow:hidden"></div>
		<div class="time-axis">
			<div id="gc_body" class="aui-list-view time-axis-body clearfix"></div>
			<script type="text/html" id="gc_script">
				<% if(list.length == 0){ %>
					<div id="j_no_data" class="no-data"><span>暂无撤回信息</span></div>
				<% }else{ %>
				<%for(var i=0; i<list.length; i++) {%>
					<div class="aui-list-view-cell aui-img time-axis-zy clearfix" tapmode onclick="showMsg(this,'<%=list[i].leave_id%>','<%=list[i].b_use%>');">
						<div>
							<div  class="aui-swipe-div <%if(list[i].b_use!=3){%>aui-swipe-handle<%}%> zy-content">
								<div class="left left<%=list[i].type_id%>">
									<div class="tip"></div>
									<div class="pub-time"></div>
								</div>
								<div class="right">
									<div class="zy-name"><%=list[i].person_name%></div>
									<div class="time">
										<div class="jxz ">
											<%=list[i].start_time%>&nbsp;&nbsp;<%=list[i].time%>
										</div>
										<div class="st-count icon-jxz ellipsis"><%=list[i].content%></div>
									</div>
									<%if(list[i].b_use==3){%>
										<div class="zy-tip yichexiao"></div>
									<%}%>
								</div>
							</div>
							<%if(list[i].b_use!=3){%>
							<div class="aui-swipe-right-btn aui-bg-danger" type="2" typeName=<%=list[i].type_name%> levelId=<%=list[i].leave_id%> tapmode onclick="rightBtn(this,event);">驳回<br />撤销</div>
							<div class="aui-swipe-right-btn aui-bg-primary color_34A8FA" type="1" typeName=<%=list[i].type_name%> levelId=<%=list[i].leave_id%> tapmode onclick="rightBtn(this,event);">通过<br />撤销</div>
							<%}%>
						</div>
					</div>
				<% } %>
				<% } %>
			</script>
		</div>
	</body>
	<script type="text/javascript" src="../../../../../script/api.js"></script>
	<script type="text/javascript" src="../../../../../script/plug-in/base64.js" ></script>
	<script type="text/javascript" src="../../../../../script/plug-in/aui-list-swipe.js"></script>
	<script type="text/javascript" src="../../../../../script/base_config.js" ></script>
	<script type="text/javascript" src="../../../../../script/plug-in/template.js" ></script>
	<script type="text/javascript" src="../../../../../script/common/common.js"></script>
	<script type="text/javascript" src="../../../../../script/common/kaoqinIpad_common.js"></script>
	<script type="text/javascript">
		var BASE_URL_ACTION;
		var header_h;
		var ruleType = 1;
		var keyword;
		var swipe;
		apiready = function() {
			commonSetTheme({"level":5,"type":0});
			header_h = api.pageParam.header_h;
			BASE_URL_ACTION = $api.getStorage('BASE_URL_ACTION');
			//initData(1);
			//下拉刷新
			refreshDataInfo();
		};
		/*
		 *author:zhaoj
		 *function:初始化数据
		 *date：20160622
		 */
		function initData(is_show) {
			getCancelLeaveList(is_show, ruleType, keyword, function(ret, flag) {
				if (flag) {
					dealData(ret, function(flag) {
						api.parseTapmode();
						// 初始化
						swipe = new ListSwipe();
						//initCancelSwipe();
					})
				}
			})
		}

		/*
		 *author:zhaoj
		 *function:更改是请假还是公出的状态type：0请假，type：1公出
		 *date：20160620
		 */
		function changeType(num) {
			type = num;
			keyword = '';
			if (type) {
				ruleType = 2;
				initData(1);
			} else {
				ruleType = 1;
				initData(1);
			}
		}

		function showMsg(el, leave_id, check_status) {
			if (!el.classList.contains("aui-swipe-selected")) {
				if (ruleType == 1) {
					var pageParamJson = {
						header_h : header_h,
						type : 0,
						leave_id : leave_id,
						check_status : check_status
					}
					commonOpenWin('kqglIpad_cxKqxq_window', 'kqglIpad_cxKqxq_window.html', false, false, pageParamJson);
				} else {
					var pageParamJson = {
						header_h : header_h,
						type : 1,
						leave_id : leave_id,
						check_status : check_status
					}
					commonOpenWin('kqglIpad_cxKqxq_window', 'kqglIpad_cxKqxq_window.html', false, false, pageParamJson);
				}
			}
		}

		function rightBtn(obj,e) {
			var type = obj.getAttribute('type') * 1;
			var levelId = obj.getAttribute('levelId');
			var typeName = obj.getAttribute('typeName');
			//撤销
			checkCancelLeave(type, levelId, typeName);
			commonExecScript('kqglIpad_kqgl_window','','setSubCount('+ruleType+');',0);
			e.stopPropagation();
		}

		/*
		 *author:zhaoj
		 *function:处理数据
		 *date：20160622
		 */
		function dealData(ret, callback) {
			for (var i = 0; i < ret.list.length; i++) {
				ret.list[i].start_time = ret.list[i].start_time.substring(0, 16);
				var time = '';
				if (ret.list[i].days * 1 > 0) {
					time = ret.list[i].days + '天';
				}
				if (ret.list[i].hours * 1 > 0) {
					time = time + ret.list[i].hours + '小时';
				}
				if (ret.list[i].minutes * 1 > 0) {
					time = time + ret.list[i].minutes + '分钟';
				}
				if (time) {
					time = '共' + time;
				}
				ret.list[i].time = time;
			}
			addTemplateHtml('gc_body', 'gc_script', ret, 1);
			callback(true);
		}
		/*
		 *作者:wangshuai
		 *功能:设置搜索值，并根据搜索条件加载相关数据数据
		 *日期：20161024
		 */
		function setKeyword(data) {
			keyword = $api.trimAll(data);
			keyword = Base64.decode(keyword);
			initData(1);
		}
	</script>
</html>