/*
@Filename: album.css
@Description: 相册样式
@Version: 2017-01-18
@author: zhaoj
*/
/**
* 功能：相册index页面样式
* 日期：2016-01-18
* 作者：zhaoj
* *****************************************************
*/
.history-date {
	font-size: 12px;
}
#message-content {
	overflow-y: auto;
	display: none;
}
.t_display_n {
	display: none;
}
.t_display_b {
	display: block;
}
.aui-icon-post{
	display:inline-block;
	float:left;
	padding-right:8px;
}
.aui-icon-upload{
	display:inline-block;
	float:left;
	padding-left:8px;
}
.album-list{
	padding-left:15px;
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
}
.album-list li{
	line-height:48px;
	padding-right:10px;
	list-style:none;
	border-bottom:1px solid #efefef;
}
.album-list li:last-child{
	border-bottom:none;
}
.album-list li span.name{
	display:inline-block;
	float:left;
	max-width:79%;
	padding-right:5px;
}
.album-list li span.num{
	display:inline-block;
	float:left;
	max-width:12%;
	color:#34A8FA;
}
.album-list li .aui-icon-right{
	float:right;
}
.picture-list{
	padding:3px 0;
}
.picture-list li{
	position:relative;
	list-style:none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
	float:left;
	width:32%;
	margin-right:1%;
}
.picture-list li .aui-checkbox{
	position:absolute;
	top:3px;
	right:3px;
	margin:0;
}
.picture-list li:nth-child(3n+1){
	margin-left:1%;
}
.picture-list li img{
	width:100%;
}
.display-none{
	display:none !important;
}
.footer-div{
	position:fixed;
	height:55px;
	background:#F6F6F6;
	display: block;
	bottom: 0px;
	width:100%;
	border-top:1px solid #E2E2E2;
	font-size:14px;
	z-index: 999999;
}
.footer-div .wid{
	width:92%;
	line-height:36px;
	text-align:center;
	color:#ffffff;
	background:#34A8FA;
	margin-top:9px;
	border-radius:2px;
	margin-left:4%;
}
.footer-div .wid50{
	width:45%;
	line-height:36px;
	text-align:center;
	color:#ffffff;
	background:#34A8FA;
	margin-top:9px;
	border-radius:2px;
}
.footer-div .left{
	float:left;
	margin-left:4%;
}
.footer-div .right{
	float:right;
	margin-right:4%;
}
.cancel{
	font-size:14px;
}
.kb{
	height:58px;
}