/*
 * 列表统一样式
 * 2016.3.29
 * 周枫
 */
body {
	background: #efeff4;
}
/* 条目总体样式 */
.item {
	/*display: table;*/
	/*height: 100px;*/
	width: 100%;
}
.item .itemlogo, .item .itemshelf {
	display: table-cell;
	vertical-align: middle;
}
.item .itemlogo {
	width: 20px;
}
.item .itemlogo img {
	margin-left: 10px;
	width: 80px;
}
.item .itemshelf .shelfinfo01 {
	font-size: 20px;
	color: #AFAFAF;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 第三部分 */
.section3 .item {
	background-color: #fff;
	position: relative;
	border-bottom: 1px solid #d3d3d3;
	overflow: hidden;
}
.section3 .item .itemlogo {
	position: absolute;
	top: 10px;
}
.section3 .itemshelf {
	margin-left: 120px;
	display: block;
	padding-right: 5px;
}
.section3 .item .userlogo img {
	width: 100px;
	height: 80px;
	padding: 2px;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
}
.section3 .itemshelf .shelfinfo01 {
	color: #000;
	font-size: 16px;
	line-height: 18px;
	margin-top: 13px;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.section3 .itemshelf .ordering {
	color: #fff;
	font-size: 12px;
	background-color: #5bb06c;
	padding: 2px 4px;
	display: inline-block;
}
.section3 .itemshelf .shelfinfo03 {
	color: #999;
	font-size: 12px;
	margin-right: 10px;
	border-bottom: 1px dotted #666;
	padding: 10px 0;
}
.section3 .style2 .itemshelf .shelfinfo03 {
	color: #999;
	font-size: 12px;
	margin-right: 10px;
	border-bottom: 0;
	padding: 10px 0;
}
.section3 .itemshelf .staring {
	color: #999;
	font-size: 12px;
	line-height: 14px;
	margin-top: 5px;
}
.section3 .itemshelf .staring img {
	height: 12px;
}
.section3 .itemshelf .shelfinfo04 {
	color: #999;
	font-size: 12px;
	padding: 8px 0;
}
.section3 .itemshelf .shelfinfo05 {
	color: #999;
	font-size: 12px;
	padding: 10px 0 0 0;
}
.section3 .itemshelf .shelfinfo06 {
	color: #999;
	font-size: 12px;
	padding: 0 0 12px 0;
}
/* 标题栏小图标 */
.section3 .itemshelf .shelfinfo01 .pei {
	color: #fff;
	font-size: 12px;
	background-color: #82782f;
	margin-left: 5px;
	padding: 1px;
	border-radius: 3px;
}
.section3 .itemshelf .shelfinfo01 .ticket {
	color: #fff;
	font-size: 12px;
	background-color: #3585b7;
	margin-left: 5px;
	padding: 2px;
	border-radius: 3px;
}
.section3 .itemshelf .shelfinfo01 .fu {
	color: #fff;
	font-size: 12px;
	background-color: #e5322d;
	margin-left: 5px;
	padding: 2px;
	border-radius: 3px;
}
.section3 .itemshelf .shelfinfo01 .compensate {
	color: #fff;
	font-size: 12px;
	background-color: #2768ba;
	margin-left: 5px;
	padding: 2px;
	border-radius: 3px;
}
.section3 .itemshelf .shelfinfo01 .new {
	color: #fff;
	font-size: 12px;
	background-color: #e5322d;
	margin-left: 5px;
	padding: 2px;
	border-radius: 3px;
}
.section3 .itemshelf .shelfinfo04 .jian {
	color: #fff;
	font-size: 12px;
	background-color: #cd22e2;
	padding: 1px;
	border-radius: 3px;
	margin-right: 5px;
}
.section3 .itemshelf .shelfinfo05 .quatity {
	color: #fff;
	font-size: 12px;
	background-color: #dc0414;
	padding: 1px;
	border-radius: 3px;
	margin-right: 5px;
}
.shelfinfo04 .left{
	display:inline-block;
	position:relative;
	max-width:100%;
	padding-right:105px;
}
.shelfinfo04 .left .time{
	display:inline-block;
	position: absolute;
	top:0;
	right:0;
}