<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- html5：在创建html时为了防止页面缩放等不兼容效果，要创建个viewport  -->
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<!-- 在IOS设备上，有时会将数字转为手机号，这里也要禁止下 -->
		<meta name="format-detection" content="telephone=no"/>
		<title>设置任课计划学段frame</title>
		<link rel="stylesheet" type="text/css" href="../../../css/aui/aui.css" />
		<link id="j_theme_base" rel="stylesheet" type="text/css" href="" />
		<style>
			body{background:#f7f9f8;}
	    	.main-content li{display:block; width :100%; padding:5px 10px 7px 10px;background:#ffffff; border-radius:1px;margin-bottom:1px; }
	    	.cur_xq{height:40px; line-height: 40px;background: #fff;color:#9F9F9F;margin-bottom:1px;padding:0 5px;}
	    	.cla_img{ position: absolute;}
	    	.main-content li .name{position:relative;line-height:48px;}
	    	.main-content li .name span{ padding-left:55px;color:#000;display:block;}
	    	.wid100{width:100%;}
	    	.ellipsis{white-space: nowrap;overflow: hidden;text-overflow: ellipsis; word-break:break-all;}
	    	.tijiao,.tip{display: inline-block;font-size:12px;color:#696969; padding-bottom:5px;}
	    	.mgr5{margin-right:5%;}
	    	.mt10{margin-top:10px;}
	    	.fl{float:left;}
	    	.detail{padding-left:55px;margin-top:-5px;}
	   		.no-data-con{text-align:center;color:#666;margin-top:15px;}
		</style>
	</head>
	<body>
	
	<div class="main-content w-iphone-common">
		
		<div id="rkjh_div"></div>
		<script type="text/html" id="rkjh_script">
			<ul>
				<% if(table_List.length==0){ %>
					<div class="no-data-con"><span>暂无任课计划</span></div>
				<% }else{ %>
					<% for(var i=0;i<table_List.length;i++){ %>
						<li>
							<div class="name wid100">
								<div class="cla_img"><img src="../../../image/person/class.png" height="48"></div>
								<span class="ellipsis">任教班级：<%=table_List[i].CLASS_NAME%></span>
							</div>
							<div class="detail wid100">
								<span class="tijiao mgr5">学段：<%=table_List[i].STAGE_NAME%></span>
								<span class="tip remain-day">任教学科：<%=table_List[i].SUBJECT_NAME%></span>
							</div>
						</li>
					<% } %>
				<% } %>
			</ul>
		</script>
		<!--<ul>
			<li>
				<div class="name wid100">
					<div class="cla_img"><img src="../../../image/person/class.png" height="48"></div>
					<span class="ellipsis">任教班级：一年一班</span>
				</div>
				<div class="detail wid100">
					<span class="tijiao mgr5">学段：小学</span>
					<span class="tip remain-day">任教学科：综合实践活动</span>
				</div>
			</li>
			<li>
				<div class="name wid100">
					<div class="cla_img"><img src="../../../image/person/class.png" height="48"></div>
					<span class="ellipsis">任教班级：一年一班</span>
				</div>
				<div class="detail wid100">
					<span class="tijiao mgr5">学段：小学</span>
					<span class="tip remain-day">任教学科：综合实践活动</span>
				</div>
			</li>
			<li>
				<div class="name wid100">
					<div class="cla_img"><img src="../../../image/person/class.png" height="48"></div>
					<span class="ellipsis">任教班级：一年一班</span>
				</div>
				<div class="detail wid100">
					<span class="tijiao mgr5">学段：小学</span>
					<span class="tip remain-day">任教学科：综合实践活动</span>
				</div>
			</li>
			<li>
				<div class="name wid100">
					<div class="cla_img"><img src="../../../image/person/class.png" height="48"></div>
					<span class="ellipsis">任教班级：一年一班</span>
				</div>
				<div class="detail wid100">
					<span class="tijiao mgr5">学段：小学</span>
					<span class="tip remain-day">任教学科：综合实践活动</span>
				</div>
			</li>
		</ul>-->
	</div>
	
	</body>
	<script type="text/javascript" src="../../../script/api.js"></script>
	<script type="text/javascript" src="../../../script/base_config.js"></script>
	<script type="text/javascript" src="../../../script/plug-in/template.js" ></script>
	<script type="text/javascript" src="../../../script/plug-in/base64.js" ></script>
	<script type="text/javascript" src="../../../script/common/common.js"></script>
	<script type="text/javascript">
		var header_h;
		var BASE_URL_ACTION;
		var currentPage;//当前页面为第一页
		var totalPage=0;//总页数
		//定义一个变量存储第一次加载返回来的总记录数
		var totalData = 0;
		apiready = function() {
			commonSetTheme({"level":3,"type":0});
			//定位header位置，留出上面电池等空隙，苹果需要
			var header = $api.byId('aui-header');
			BASE_URL_ACTION = $api.getStorage('BASE_URL_ACTION');
			$api.fixStatusBar(header);
			header_h = api.pageParam.header_h;
			currentPage = 1;
			loadXqInfo(currentPage,true);
			//下拉刷新
			refreshDataInfo();
			//上拉加载
			scrollBottomReload();
		};
		
		/*
		 * author:zfz
		 * function:获取当前学期id及名称
		 * data:2016.4.26
		 */
		function loadXqInfo(currentPage,isReload){
			api.ajax({
				url : BASE_URL_ACTION + '/subject/getListSemester',
				method : 'post',
				timeout : 30,
				dataType : 'json',
				cache : false,
			}, function(ret, err) {
				if (err) {
					api.toast({
						msg : '对不起，获取学期信息失败'
					});
				} else {
					if(ret.xqlist!=''){
						if(ret.xqlist.length>0){
							for(var i=0;i<ret.xqlist.length;i++){
								if(ret.xqlist[i].SFDQXQ==1){
									var cur_xq = document.getElementById('cur_xq');
									$api.text(cur_xq, '当前学期：'+ret.xqlist[i].XQMC);
									loadRkjhList(ret.xqlist[i].XQ_ID,currentPage,isReload);
								}
							}
							
						}else{
							$("#cur_term").text('');
						}
					}
					else{
						api.toast({
							msg : '对不起，获取学期信息失败'
						});
					}
				}
			});
		}
		
		/*
		 * author:zfz
		 * function:获取任课计划相关信息
		 * data:2016.4.26
		 */
		function loadRkjhList(cur_xq_id,currentPage,isReload){
			if (isReload) {  // 重新设置为1
				currentPage = 1;
			}
			api.showProgress({
				title : '加载中...',
				modal : false
			});
			api.ajax({
				url : BASE_URL_ACTION + '/person/getTeachPlanByTeacherId',
				method : 'post',
				timeout : 30,
				dataType : 'json',
				cache : false,
				data : {
					values : {
						"random_num" : creatRandomNum(),
						'pageNumber':currentPage,
						"pageSize" : BASE_PAGE_SIZE,
						"teacher_id":$api.getStorage("person_id"),
						"xq_id":cur_xq_id
					}
				}
			}, function(ret, err) {
				api.hideProgress();
				//通知顶部下拉刷新数据加载完毕，组件会恢复到默认状态
				commonControlRefresh();
				if (err) {
					api.alert({
						msg : '对不起，您当前地区尚未开通此功能'
                    },function(ret,err){
                    	api.execScript({
                    		name : 'w_rkjh_window',
	                        script: 'back();'
                        });
                    });
					
				} else {
					if(ret.success){
						totalData = ret.totalRow;
						totalPage = ret.totalPage;
						var html_type = template.render('rkjh_script', ret);
						if (currentPage == 1) {
							document.getElementById('rkjh_div').innerHTML = html_type;
						} else {
							$api.append($api.byId('rkjh_div'), html_type);
						}
					}
					else{
						api.toast({
							msg : '对不起，获取列表信息失败'
						});
					}
				}
			});
		}
		
		/**
		 * 下拉刷新
		 * 周枫
		 * 2016.2.29
		 */
		function refreshDataInfo() {
			//绑定下拉刷新历史会话事件
			api.setRefreshHeaderInfo({
				visible : true,
				loadingImg : 'widget://image/local_icon_refresh.png',
				bgColor : '#f7f9f8',
				textColor : '#8E8E8E',
				textDown : '下拉加载更多...',
				textUp : '松开加载...',
				showTime : true
			}, function(ret, err) {
				//从服务器加载数据，完成后调用commonControlRefresh()方法恢复组件到默认状态
				//调用获取历史会话监听
				//打开滑动条
				loadXqInfo(1,true);
				
			});
		}
		
		/**
		 * 上拉刷新页面数据
		 * 周枫
		 * 2015.11.24
		 */
		function scrollBottomReload() {
			//下移到底部：
			api.addEventListener({
				name : 'scrolltobottom',
				extra : {
					threshold : 100 //设置距离底部多少距离时触发，默认值为0，数字类型
				}
			}, function(ret, err) {
				if ((currentPage + 1) <= totalPage) {
					loadXqInfo(currentPage + 1,false);
					currentPage = currentPage + 1;
					// 页码+1
				} else {
					api.toast({
						msg : '已加载全部数据',
						location : 'bottom'
					});
				}
			});
		}
	</script>
</html>