<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>检测</title>
    <link rel="stylesheet" type="text/css" href="../../../../../css/aui/aui.css" />
    <link id="j_theme_base" rel="stylesheet" type="text/css" href="" />
    <style>
    	body{margin:0;color:#999999;}
    	.clearfix:after{content: ' ';display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
    	.zuoye-name{line-height:16px;width:100%;}
    	.title{width:60%;float:left;padding-left:10px;margin:10px 0;}
    	.plrt15{padding:15px 0 15px 15px;}
    	.plr15{padding:0 15px;}
    	.detail-content{padding-left:28px;line-height:35px;margin:5px 0;word-wrap: break-word;word-break: normal;font-size:16px !important; }
    	.bb{border-bottom:1px solid #EEF0F2;margin:15px 15px 0px 15px;}
    	.img{text-align:center;padding:35px 0 20px 0;}
    	.img div{padding-top:15px;}
    	.detail-content img{max-width:100% !important;}
    	.detail-content p{font-size:16px !important;}
    	  	.footer-div {position: fixed;height: 45px;background:#ffffff;color: #8E8E8E;display: block;bottom: 0px;width: 100%;border-top: 1px solid #DBDBDB;}
		.footer-div .btn {width: 50%;display: inline-block;text-align: center;height: 55px;border-right: 1px solid #DBDBDB;float:left;}
		.footer-div .zan {width: 50%;display: inline-block;text-align: center;height: 30px;float:left;}
		.footer-div .btn .span,.footer-div .zan .span{display:inline-block;line-height:20px;height:55px;display: inline-block;float: left;width: 50%;padding-right: 7px;}
		.footer-div .zan .span{line-height:23px;}
		.footer-div .btn .span img,.footer-div .zan .span img{display:inline;height:32px;float:right;margin-right:0px;padding-top:12px;}
		.footer-div .btn .span img{padding-top:14px;}
		.footer-div .btn .num,.footer-div .zan .num{float: left;display: inline-block;width: 50%;text-align: left;height: 55px;padding-top: 12px;padding-left: 7px;}
		.footer-div .zan .num{padding-top: 13px;}
		.comment {position:relative;color: #3A3A3A;font-size: 16px;margin:0 15px;background:#eeeeee;margin-top:10px;}
		.comt-btn {border: 1px solid #E6E6E6;height: 40px;line-height: 40px;text-align: center;border-radius: 3px;color: #c0c0c0;}
		.comt-btn-img {width: 20px;vertical-align: middle;}
		.comment-content{background: url(../../../../../image/yingyong/wenzhang/yiping.png) 10px 12px no-repeat; background-size: 17px 16px;}
		.comment-content li {position:relative;padding :3px 0 8px 0;margin:0 8px 0 35px;border-bottom:1px solid #dedede;}
		.comment-content li:last-child{border-bottom:none;}
		.comment-content .header-img {position:absolute;left:2px;top:4px;display: inline-block;width: 30px;height: 30px;margin-right: 8px;border-radius: 16px;vertical-align: middle;}
		.comment-content .details {height: 40px;color: #CACACA;font-size: 14px;}
		.comment-content .comt-person-name {display: inline-block;width: 100%;color:#777777;padding-left:37px;}
		.comment-content .comt-person-name font {color: #FE7315;}
		.comment-content .comt-time {display: block;text-align: left;color:#a3a3a3;font-size:12px;}
		.comment-content .comment-text {color: #474747;font-size: 15px;word-break: break-all;}
		.comt-opt {margin-top: 7px;}
		.comt-opt div {width: 40px;float: right;text-align: right;color: #0062CC;font-size: 14px;}
		.zan-content{background: url(../../../../../image/yingyong/wenzhang/yizan.png) 10px 9px no-repeat; background-size: 17px 17px;padding:9px 8px 8px 35px;line-height:21px;font-size:14px;color:#777777;border-bottom: 1px solid #ffffff;}
		.zan-content span{word-break: break-all;}
		.footer{height:60px;}
		.triangle-down { position:absolute;width: 0; top:-8px;left:10px; height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #eeeeee; }
		.blank-footer{height:55px;}
		.no-data {color: #c0c0c0;font-size:14px;padding:10px 0 !important;line-height:18px;text-align:left !important;}
		.resource-show img{
    		margin-right: 13px;
    	}
    </style>
</head>
<body id="body" class="common-iphone-daoxueNewXs">
	<div class="zuoye-name plrt15 clearfix">
		<div class="title">导学名称</div>
	</div>
	<div id="j_name" class="detail-content plr15">	
	</div>
	<div class="zuoye-name plrt15 clearfix">
		<div class="title">导学说明</div>
	</div>
	<div id="j_desc" class="detail-content plr15">	
	</div>
	<div class="zuoye-name plrt15 clearfix">
		<div class="title">导学内容</div>
	</div>
	<div id="j_content" class="detail-content plr15 clearfix">	
	</div>
	<div id="abc" class="comment aui-hide">
		<div class="triangle-down"></div>
		<div id="zan_body" class="zan-content">
		</div>
		<script type="text/html" id="zan_script">
			<% if(praise_list.length == 0){ %>
				<span class="no-data">
					暂无点赞
				</span>
			<% }else{ %>
				<%for(var i=0; i < praise_list.length; i++) {%>
					<span>
						<%=praise_list[i].person_name %>
						<%if(i != praise_list.length-1){%> , <%}%>
					</span>
				<% } %>
			<%}%>
		</script>
		<ul id="div_body" class="comment-content"></ul>
		<script type="text/html" id="div_script">
			<% if(reply_list.length == 0){ %>
				<li class="no-data">
					暂无评论
				</li>
			<% }else{ %>
				<%for(var i=0; i < reply_list.length; i++) {%>
				<li>
					<div class="details">
						<img class="header-img" onerror="this.src='../../../../../image/common/header.png'" src="<%=reply_list[i].img_url%>" alt="头像" />
						<div class="comt-person-name ellipsis">
							<%if(reply_list[i].has_reply){%>
							<%=reply_list[i].person_name%><font>&nbsp;回复：</font><%=reply_list[i].parent_person_name%>
							<%}else{%>
							<%=reply_list[i].person_name%>
							<%}%>
							<div class="comt-time">
								<%=reply_list[i].time %>
							</div>
						</div>
					</div>
					<div class="comment-text">
						<%=#reply_list[i].content %>
					</div>
					<div class="comt-opt clearfix">
						<%if(reply_list[i].show_delete){%>
						<div class="delete-comt" onclick="messageBoard_deletePost(<%=pageSize %>,<%=reply_list[i].topic_id %>,<%=reply_list[i].id %>);">删除</div>
						<%}%>
						<div class="reply" onclick='openCommentWindow(1,<%=reply_list[i].id %>,0,<%=reply_list[i].person_id %>,<%=reply_list[i].identity_id %>,"<%=reply_list[i].person_name %>");'>回复
						</div>
					</div>
				</li>
			<% } %>
		<%}%>
		</script>
	</div>
	<div id="j_blank_footer" class="blank-footer aui-hide">&nbsp;</div>
	<div id="footer_div" class="footer-div aui-hide">
		<div class="btn">
			<span id="comt_num" class="span clearfix" onclick='openCommentWindow(0,0,0,"","","");'>
				<img src="../../../../../image/yingyong/wenzhang/pinlun.png" alt="" />
			</span>
			<span id="j_pinlun_num" class="num" onclick='javascript:document.getElementById("abc").scrollIntoView()'>&nbsp;</span>
		</div>
		<div id="j_zan_btn" class="zan">
			<span class="span clearfix" onclick="addPraiseInfo();">
				<img src="../../../../../image/yingyong/wenzhang/zan.png" alt="" />
			</span>
			<span id="zan_num" class="num" onclick='javascript:document.getElementById("abc").scrollIntoView()'>&nbsp;</span>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../../script/base_config.js" ></script>
<script type="text/javascript" src="../../../../../script/plug-in/template.js" ></script>
<script type="text/javascript" src="../../../../../script/common/common.js" ></script>
<script type="text/javascript" src="../../../../../script/assembly/executeApp.js" ></script>
<script type="text/javascript" src="../../../../../script/assembly/openResource.js" ></script>
<script type="text/javascript" src="../../../../../script/assembly/photoBrowser.js"></script>
<script type="text/javascript">
	var BASE_URL_ACTION;
	var BASE_APP_TYPE;
	var currentPage = 1;//当前页面
	var totalPages = 0;//一共有多少页
	var p_id;
	var header_h = 0;
	apiready = function(){	
	    commonSetTheme({"level":5,"type":0});
		BASE_URL_ACTION = $api.getStorage('BASE_URL_ACTION');
		BASE_APP_TYPE = $api.getStorage('BASE_APP_TYPE');
		header_h = api.pageParam.header_h;
		getLeadInfoById();
		initData(currentPage);//获取评论数据
		commonRefreshHeaderInfo();//下拉刷新
		commonScrollBottomReload();//上拉加载更多数据
	};
	/*
	*作者:zhaoj
	*功能:获取导学详细
	*日期：20170707
	*/
	function getLeadInfoById(){
		showSelfProgress('加载中...');
		api.ajax({
			url : BASE_URL_ACTION + '/ypt/space/lead/get_leadinfo_by_id',
			method : 'get',
			timeout : 30,
			dataType : 'json',
			returnAll : false,
			data : {
				values : {
					"random_num" : creatRandomNum(),
					"id" :api.pageParam.id
				}
			},
			headers : {
'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
}
		}, function(ret, err) {
			api.hideProgress();
			if (err) {
				popToast('获取导学数据失败，请稍候重试');
			} else {
				if(ret.success){
					p_id = ret.p_id;
					$api.html($api.byId('j_name'), ret.name);
					if(ret.desc){
						$api.html($api.byId('j_desc'), ret.desc);
					}else{
						$api.html($api.byId('j_desc'), '暂无导学说明');
					}
					var content = ret.format_lead_learn;
					
					if (ret.qt_list && ret.qt_list.length > 0){
						for (var i = 0; i < ret.qt_list.length; i++){
							content = content + '<p><img title="练习" src="/dsideal_yy/images/space/a/space_tbbk/homework.png" width="80" height="60" class="bkDxResourceImg dxPractice" data-type="2" data-zy_id="'+ret.qt_list[i].zy_id+'" data-zy_type="8"/></p>';
						}
					}
				
					if (ret.wk_list && ret.wk_list.length > 0){
						content = content + '<p class="resource-show">';
						for (var i = 0; i < ret.wk_list.length; i++){
							content = content + '<img title="'+ ret.wk_list[i].wkds_name
						 	+'" src="/dsideal_yy/html/down/Thumbs/'+ ret.wk_list[i].thumb_id.substring(0,2) + '/' + 
						 	ret.wk_list[i].thumb_id +
						 	'.thumb" width="80" height="60" class="bkDxResourceImg" data-type="3" data-wkds_id_int="'
						 	+ ret.wk_list[i].wkds_id_int +'" data-id="'+ ret.wk_list[i].res_id +'" />';
						}
						
						content = content + "</p>";
					}
				
					if (ret.material_list && ret.material_list.length > 0){
						content = content + '<p class="resource-show">';
						for (var i = 0; i < ret.material_list.length; i++){
							content = content + '<img title="'+ ret.material_list[i].resource_title +
							'" src="/dsideal_yy/html/down/Thumbs/'+ ret.material_list[i].thumb_id.substring(0,2) + '/' + 
						 	ret.material_list[i].thumb_id +'.thumb" width="80" height="60" class="bkDxResourceImg" data-type="1" data-resource_id_int="'+ret.material_list[i].resource_id_int+'"data-resource_info_id="'+ret.material_list[i].res_id+'" />';
						}
						
						content = content + "</p>";
					}
					
					var notice_str1 = '<img';
					var notice_str2 = '<img onerror="this.src=\'../../../../../image/fun-module/common/wk_default.png\'"';
					content = content.replaceAll(notice_str1, notice_str2);
					var key = '/dsideal_yy';
					var key1 = BASE_URL_ACTION;
					var flag = 0;
						if(content.indexOf(key1) != -1){
							content = content;
							flag = 1;
						}
						if(content.indexOf(key) != -1 && flag == 0){
							var key_re = BASE_URL_ACTION;
							content = content.replaceAll(key, key_re);
						}
						if($api.getStorage("identity")==6){
							content = content.replaceAll("href", "");
						}
					$api.html($api.byId('j_content'), content);
					addLiClick();
					saveLeadResRelaLog();
				}else{
					popToast('获取导学数据失败，请稍候重试');
				}
			}
		});
	}
	/*
	*作者:zhaoj
	*功能:打开资源图片
	*日期：20161115
	*/
	function openZyFrame(obj){
		//先重置通知window返回哪个页面
	    commonExecScript('daoxueNewXs_detail_window','','reBackType("content");',0);
		var data_resource_id_int = obj.getAttribute('data-resource_id_int');
		var data_resource_info_id = obj.getAttribute('data-resource_info_id');
		var header_h = api.pageParam.header_h;
		var pageParamJson={"header_h":header_h,"data_resource_id_int":data_resource_id_int,"data_resource_info_id":data_resource_info_id,"id" :api.pageParam.id,"p_id":p_id};//打开frame页面所需参数
		commonOpenFrame('daoxueNewXs_ziyuan_frame', 'daoxueNewXs_ziyuan_frame.html',header_h, true, false,"#ffffff",pageParamJson);	//打开index页面
	}
	/*
	*作者:zhaoj
	*功能:打开练习页面
	*日期：20170629
	*/
	function openlxFrame(obj){
	   if(api.pageParam.is_read==0){
	       var zy_id = obj.getAttribute('data-zy_id');
	       api.ajax({
            url : $api.getStorage('BASE_URL_ACTION')+'/xx/updateZyReadStatu?student_id='+$api.getStorage("person_id")+"&zy_id="+zy_id,
            method : 'get',
            timeout : 30,
            dataType : 'json',
            returnAll : false,
            headers : {
                'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
            }       
        }, function(ret, err) {
            if (ret){
                console.log("第一次调用成功");
            }else{
                popToast('练习获取失败，请稍候重试');
            }
        });
	   }
		var zy_id = obj.getAttribute('data-zy_id');
        var param = {
            student_id: $api.getStorage("person_id"),
            zy_type: 8,
            forceCommit: 0,
            zy_id:api.pageParam.zy_id,
            random_num:creatRandomNum(),
        };
        api.ajax({
            url : $api.getStorage('BASE_URL_ACTION')+'/xx/isHaveSubmitZy?student_id='+$api.getStorage("person_id")+"&zy_id="+zy_id,
            method : 'get',
            timeout : 30,
            dataType : 'json',
            returnAll : false,
            headers : {
                'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
            }       
        }, function(ret, err) {
            if (ret){
                if (ret.success){
//                  先重置通知window返回哪个页面
                    commonExecScript('daoxueNewXs_detail_window','','reBackType("practice");',0);
                    var zy_type = obj.getAttribute('data-zy_type');
                    var header_h = api.pageParam.header_h;
                    var pageParamJson={"header_h":header_h,"zy_id":zy_id,"zy_type":zy_type};//打开frame页面所需参数
                    commonOpenFrame('daoxueNewXs_practice_frame', 'daoxueNewXs_practice_frame.html',header_h, true, false,"#ffffff",pageParamJson); //打开index页面
                }else{
                    popToast('练习已提交');
                }
            }else{
                popToast('练习获取失败，请稍候重试');
            }
        });
	}
	/*
	*作者:zhaoj
	*功能:打开微课页面
	*日期：20170701
	*/
	function openWkFrame(obj){
		//先重置通知window返回哪个页面
		commonExecScript('daoxueNewXs_detail_window','','reBackType("wk");',0);
		var id = obj.getAttribute('data-id');
		var wkds_id_int = obj.getAttribute('data-wkds_id_int');
		var header_h = api.pageParam.header_h;
		var pageParamJson={"header_h":header_h,"id":id,"wkds_id_int":wkds_id_int,"dx_id":api.pageParam.id};//打开frame页面所需参数
		commonOpenFrame('daoxueNewXs_wk_frame', 'daoxueNewXs_wk_frame.html',header_h, false, false,"#ffffff",pageParamJson);	//打开index页面
	}
	/*
	*author:zhaoj
	*function:获取点赞的个数
	*date：20170706
	*/
	function getPraisecount() {
		api.ajax({
			url :  BASE_URL_ACTION + '/space/praise/get_praisecount_byid?random_num='+creatRandomNum()+'&business_id='+api.pageParam.id+'&business_type=4&person_id='+$api.getStorage("person_id")+'&identity_id='+$api.getStorage("identity"),
			method : 'get',
			timeout : 0,
			dataType : 'json',
			headers : {
	'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
}
		}, function(ret, err) {
			if(ret.success){
				$api.text($api.byId('zan_num'),ret.total);
			}
		});
	}
	/*
	*author:zhaoj
	*function:给文章点赞
	*date：20170706
	*/
	function addPraiseInfo() {
		api.ajax({
			url : BASE_URL_ACTION + '/ypt/space/praise/add_praise_info',
			method : 'post',
			timeout : 0,
			dataType : 'json',
			data : {
				values : {
					random_num : creatRandomNum(),
					business_id : api.pageParam.id,
					business_type : 4,
					identity_id	 : $api.getStorage("identity"),
					person_id :$api.getStorage("person_id")
				}
			},
			headers : {
	'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
}
		}, function(ret, err) {
			if (err) {
				popToast('点赞失败');
			} else {
				if(ret.success){
					popToast('点赞成功');
					isExistsPraise();
					getPraisecount();
					getPraiseinfoList();
				}else{
					popToast('点赞失败');
				}
			}
		});
	}
	/*
		*author:zhaoj
		*function:获取点赞数据
		*date：20160602
		*/
		function getPraiseinfoList(){
			api.ajax({
				url : BASE_URL_ACTION + '/space/praise/get_praiseinfo_list?random_num='+creatRandomNum()+'&business_id='+api.pageParam.id+'&business_type=4&page_num=1&page_size=9999',
				method : 'get',
				timeout : 30,
				dataType : 'json',
				headers : {
		'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
	}
			}, function(ret, err) {
				//通知顶部下拉刷新数据加载完毕，组件会恢复到默认状态
				commonControlRefresh();
				if (err) {
					var data= {"page_size":9999,"page_num":1,"success":true,"total_page":1,"total_row":"2","praise_list":[]};
					commonAddOnceHtml('zan_body','zan_script',data);
				} else {
					if(ret.success){
						zanTotalPages = ret.total_page;
						commonAddOnceHtml('zan_body','zan_script',ret);
					}else{
						var data= {"page_size":9999,"page_num":1,"success":true,"total_page":1,"total_row":"2","praise_list":[]};
					commonAddOnceHtml('zan_body','zan_script',data);
					}
				}
			});
		}
		/*
		*author:zhaoj
		*function:验证本人是否已经点赞
		*date：20170706
		*/
		function isExistsPraise() {
			api.ajax({
				url : BASE_URL_ACTION + '/ypt/space/praise/isexists_praise?random_num='+creatRandomNum()+'&business_id='+api.pageParam.id+'&business_type=4&person_id='+$api.getStorage("person_id")+'&identity_id='+$api.getStorage("identity"),
				method : 'get',
				timeout : 30,
				dataType : 'json',
				headers : {
		'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
	}
			}, function(ret, err) {
				if (err) {
					
				} else {
					if(ret.success){
						if(ret.is_exists_praise){
							var tip = "cancelPraise()";
							var clickHtml = "javascript:document.getElementById('abc').scrollIntoView();";
							var html = '<span onclick='+tip+' class="span clearfix"><img src="../../../../../image/yingyong/wenzhang/yizan.png" alt="" /></span><span id="zan_num" class="num" onclick='+clickHtml+'></span>';
							$api.html($api.byId('j_zan_btn'),html);
						}
						getPraisecount();//获取点赞的个数
					}else{
						
					}
				}
			});
		}
		/*
		 *author:zhaoj
		 *function:获取评论
		 *date：20170706
		 */
		function initData(currentPage) {
			getPraisecount();
			getPraiseinfoList();//获取点赞数据
			isExistsPraise();//验证本人是否点赞
			currentPage = currentPage;
			api.ajax({
				url : BASE_URL_ACTION + '/bbs/topic/view?pageNumber=' + currentPage + '&pageSize=' + BASE_PAGE_SIZE + '&sort=1&type_id=' + "spaceGuidance"+api.pageParam.id+ '&message_type=2&random_num=' + creatRandomNum(),
				method : 'get',
				dataType : 'json',
				timeout : 30,
				cache : false,
				headers : {
					'Cookie' : 'person_id=' + $api.getStorage("person_id") + ';identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
				}
			}, function(ret, err) {
				api.hideProgress();
				if (ret.success) {
					totalPages = ret.totalPage;
					$api.text($api.byId('j_pinlun_num'),ret.totalRow);
					if (ret.reply_list.length > 0) {
						var list = ret.reply_list;
						//对数据进行处理
						for (var i = 0; i < list.length; i++) {
							//评论时间显示的处理
							list[i]["time"] = list[i].create_time.substring(0, 16);
							list[i]["content"] = commonTransferBrStr(list[i]["content"]);
							if (list[i].parent_person_id * 1) {
								list[i]["has_reply"] = 1
							} else {
								list[i]["has_reply"] = 0;
							}
							var img_url;
							if(BASE_APP_TYPE == 1){
								img_url = BASE_IMAGE_PRE + url_path_suffix+ list[i].icon_url.substring(0, 2) + "/" + list[i].icon_url + commonReturnPhotoCutSize(0);
							}else{
								img_url = BASE_URL_ACTION + BASE_IMAGE_BEGIN + list[i].icon_url.substring(0, 2) + "/" + list[i].icon_url + commonReturnPhotoCutSize(0);
							}
							list[i]["img_url"] = img_url;
							//是自己发表的文章，可以删除评论，不是自己发表的文章，不能删除
							if ($api.getStorage("person_id") * 1 == list[i].person_id * 1) {
								list[i]["show_delete"] = 1;
							} else {
								list[i]["show_delete"] = 0;
							}
						}
						commonAddManyHtml('div_body', 'div_script', ret);
					} else {
						var data = {
							"reply_list" : []
						};
						commonAddManyHtml('div_body', 'div_script', ret)
					}
				} else {
					var data = {
						"reply_list" : []
					};
					commonAddManyHtml('div_body', 'div_script', ret)
				}
				$api.css($api.byId('shadow'), "z-index:-1;");
				//通知顶部下拉刷新数据加载完毕，组件会恢复到默认状态
				commonControlRefresh();
			});
		}

		/*
		 *author:zhaoj
		 *function:打开评论页面
		 *date：20170706
		 */
		function openCommentWindow(d, pid, pagesize, person_id, identity_id, person_name){
			commonOpenWin('daoxueNewXs_comment_window', 'daoxueNewXs_comment_window.html', false, false, {'header_h':api.pageParam.header_h,d : d,pid : pid,person_id : person_id,identity_id : identity_id,person_name : person_name,id : api.pageParam.id});
		}
		/*
		 *author:zhaoj
		 *function:提示是否删除评论
		 *date：20160319
		 */
		function messageBoard_deletePost(pageSize, topic_id, postid) {
			popTwoBtnConfirm('提示','确定删除该评论内容？','deleteComment('+topic_id+','+postid+')');
		}
		/*
		 *author:zhaoj
		 *function:删除评论
		 *date：20170707
		 */
		function deleteComment(topic_id,postid){
			showSelfProgress('删除中...');
			api.ajax({
				url : BASE_URL_ACTION + '/ypt/bbs/post/delete',
				method : 'get',
				dataType : 'json',
				timeout : 30,
				cache : false,
				data : {
					values : {
						"random_num" : creatRandomNum(),
						"topic_id" : topic_id,
						"post_id" : postid
					}
				},
				headers : {
					'Cookie' : 'person_id=' + $api.getStorage("person_id") + ';identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
				}
			}, function(ret, err) {
				if (ret.success) {
					setTimeout(function() {
						api.hideProgress();
						popToast('删除成功');
						initData(1);
					}, 2900);
				} else {
					api.hideProgress();
					popAlert("删除评论失败，" + ret.info);
					$api.css($api.byId('shadow'), "z-index:-1;");
				}
				if (err) {
					api.hideProgress();
					popAlert("删除评论失败");
					$api.css($api.byId('shadow'), "z-index:-1;");
				}
			});
		}
		/*
		*author:zhaoj
		*function:取消点赞
		*date：20160604
		*/
		function cancelPraise(){
			api.ajax({
				url : BASE_URL_ACTION + '/ypt/space/praise/cancel_praise_info',
				method : 'post',
				timeout : 30,
				dataType : 'json',
				data : {
					values : {
						random_num : creatRandomNum(),
						business_id : api.pageParam.id,
						business_type : 4,
						identity_id	 : $api.getStorage("identity"),
						person_id :$api.getStorage("person_id")
					}
				},
				headers : {
		'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
	}
			}, function(ret, err) {
				if (err) {
					popToast('取消失败');
				} else {
					if(ret.success){
						popToast('取消点赞');
						var tip = "addPraiseInfo();";
						var clickHtml = "javascript:document.getElementById('abc').scrollIntoView();";
						var html = '<span class="span clearfix" onclick='+tip+'><img src="../../../../../image/yingyong/wenzhang/zan.png" alt="" /></span><span id="zan_num" class="num" onclick='+clickHtml+'></span>';
						$api.html($api.byId('j_zan_btn'),html);
						getPraisecount();
						getPraiseinfoList();
					}else{
						popToast('取消失败');
					}
				}
			});
		}
		/*
		*author:zhaoj
		*function:附件打开
		*date：20170712
		*/
		function downloadResAttachment(id){
			showSelfProgress('加载中...');
			api.ajax({
				url : BASE_URL_ACTION + '/ypt/resource/getResourceByIDInt',
				method : 'get',
				timeout : 30,
				dataType : 'json',
				returnAll : false,
				data : {
					values : {
						"random_num" : creatRandomNum(),
						"resource_id_int" :id
					}
				},
				headers : {
	'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
	}
			}, function(ret, err) {
				api.hideProgress();
				if (err) {
					popToast('获取数据失败，请稍候重试');
				} else {
					if(ret.success){
						checkPreviewStatus(ret.resource_format,ret.preview_status,ret.file_id,ret.m3u8_status,ret.iid,id,ret.resource_title)	
					}else{
						popToast('获取数据失败，请稍候重试');
					}
				}
			});
		}
		/*
		 *author:zhaoj
		 *function:预览前处理
		 *date：20160302
		 */
		function checkPreviewStatus(format,preview_status,file_id,m3u8_status,iid,data_resource_id_int,resource_title) {
			commonExecScript('daoxueNewXs_detail_window','','changePictureType(1);',0);//切换图片类型
			format = format.toLowerCase();
			if (format == 'doc' || format == 'jpeg' || format == 'png' || format == 'gif' || format == 'bmp' || format == 'doc' || format == 'docx' || format == 'ppt' || format == 'pptx' || format == 'asf' || format == 'wmv' || format == 'mpg' || format == 'avi' || format == 'mp4' || format == 'rmvb' || format == 'txt' || format == 'xls' || format == 'xlsx') {
				if (preview_status == '1' || preview_status == '-5') {
					//打开文件
					common_openResource.open(format,file_id,resource_title+"."+format,m3u8_status,api.winName,'reBackType("voice_c");','back();',data_resource_id_int);
				} else if (preview_status == '2') {
					if(format == 'txt' || format == 'doc' || format == 'docx' || format == 'ppt' || format == 'pptx' || format == 'xls' || format == 'xlsx'){
                        common_openResource.open(format,file_id,resource_title+"."+format,m3u8_status,api.winName,'reBackType("voice_c");','back();',data_resource_id_int);
                    }else{
                        popAlert('对不起，该文件生成预览失败。');
                    }
				} else {
					api.ajax({
						url : BASE_URL_ACTION + '/ypt/checkPreviewStatus?type=1&yunormy=1' + '&target_id=' + iid + '&random_num=' + creatRandomNum(),
						method : 'get',
						dataType : 'json',
						timeout : 30,
						cache : false,
						headers : {
							'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
						}
					}, function(ret, err) {
						if (ret.success) {
							if (preview_status == "0") {
								if(format == 'txt' || format == 'doc' || format == 'docx' || format == 'ppt' || format == 'pptx' || format == 'xls' || format == 'xlsx'){
                        common_openResource.open(format,file_id,file_id,m3u8_status,api.winName,'reBackType("voice_c"");','back();',data_resource_id_int);
                                }else{
                                    popAlert('对不起，正在生成预览中，请稍候查看。');
                                }
							} else if (ret.preview_status == "1") {
								//打开文件
								common_openResource.open(format,file_id,file_id,m3u8_status,api.winName,'reBackType("voice_c"");','back();',data_resource_id_int);
							} else if (preview_status == "2") {
								if(format == 'txt' || format == 'doc' || format == 'docx' || format == 'ppt' || format == 'pptx' || format == 'xls' || format == 'xlsx'){
                        common_openResource.open(format,file_id,file_id,m3u8_status,api.winName,'reBackType("voice_c"");','back();',data_resource_id_int);
                                }else{
                                    popAlert('对不起，该文件生成预览失败。');
                                }
							}
						}
					});
				}
			} else {
				//打开文件
				common_openResource.open(format,file_id,file_id,m3u8_status,api.winName,'reBackType("voice_c");','back();',data_resource_id_int);
			}
		}
		/*
		*作者:zhaoj
		*功能:给元素添加点击事件
		*日期：20170712
		*/
		function addLiClick(){
			var res_array = $api.domAll($api.byId('j_content'),'.bkDxResourceImg');
			for(var i = 0; i < res_array.length; i++){
				$api.addEvt(res_array[i], 'click', function(){
					judgeTypeOpen(this);
				});
			}
		}
		/*
		*作者:zhaoj
		*功能:根据type来打开不同的页面
		*日期：20170712
		*/
		function judgeTypeOpen(self){
			var data_type = $api.attr(self,'data-type');
			if(isEmptyString(data_type)){
				openZyFrame(self);
			}else{
				if(data_type == 1){
					openZyFrame(self);
				}else if(data_type == 2){
					openlxFrame(self);
				}else if(data_type == 3){
					openWkFrame(self);
				}
					
			}
		}
		
		/**
		 * 增加导学学习次数 
		 */
		function saveLeadResRelaLog(){
			var param = {
				lead_id: api.pageParam.id,//导学id
                identity_id: $api.getStorage("identity"),
                org_id: $api.getStorage("class_id"),
                org_type: 105,
                person_id: $api.getStorage("person_id"),
                res_id: api.pageParam.id,
                res_type: 12,
                is_cloud: 1,
                random_num: creatRandomNum()
            };
            
            api.ajax({
					url : $api.getStorage('BASE_URL_ACTION')+'/ypt/space/lead/save_lead_res_rela_log',
					method : 'post',
					timeout : 30,
					dataType : 'json',
					returnAll : false,
					data : {
						values : param
					},
					headers : {
						'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
					}		
				}, function(ret, err) {
				});
		}
</script>
</html>