@charset "utf-8";

/**---------------------------------------------------------
*function:理想人人通
*author:许伟杰
*date:2019.8.8
----------------------------------------------------------*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: couriernew, courier, monospace;
}

ul,
ol {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #333;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: 16px;
}

body,
div,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
input,
button,
select,
textarea {
    font-family: "Arial", "微软雅黑", "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* 手机端publc css */
/* flex类 */
.flexRow {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/*主轴为垂直方向，起点在上沿*/
.flexCol {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

/*换行，第一行在上方*/
.flexWrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* box-sizing */
.boxBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.all-content {

    border-top: 10px solid #e3e3e3;
}

.content-width {
    width: 90%;
    margin: auto;
}

.headers {
    border-bottom: 1px solid #e3e3e3;
    height: 3rem;
    line-height: 3rem;
}

.headers p,
.requirement p,
.resources p {
    font-size: 1rem;
    font-weight: 600;
}

.headers span {
    width: 70%;
    color: #8a8a8a;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.requirement {
    border-bottom: 1px solid #e3e3e3;
}
.requirement p{
    margin-top: 1rem;
}
.requirement span {
    font-size: 0.875rem;
    color: #8a8a8a;
    margin: 0.4rem 0 0.75rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.resources{
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #e3e3e3;
}
.resources span{
    width: 70%;
    font-size: 0.875rem;
    color:#34a8fb;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.resources span a{
    width: 100%;
    font-size: 0.875rem;
    color:#34a8fb;
   text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.enclosure,.encl{
    
    margin: auto;
    height: 4rem;
    border-bottom: 1px solid #e3e3e3;
}
.enclosure p,.encl p{
    width: 16%;
    margin: 1.2rem 0 0 0;
}
.enclosure button,.encl button{
    width: 30%;
    height: 2rem;
    font-size: 0.875rem;
    margin-top: 0.875rem;
    background: #34a8fb;
    border: none;
    border-radius: 6px;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#del_file{
	background:#dc143c;
}
.enclosure span{
    width: 40%;
    font-size: 0.75rem;
    color: #9eabb5;
    margin: 0.875rem 0 0 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.enclosure span a{
	padding:4px 0 0 0;
    font-size:0.875rem;
    color: #34a8fb;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.content-text{
    margin: 0.75rem 0 0.75rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.text-form textarea{
    width: 100%;
    height: 12rem;
    border: 1px solid #e3e3e3;
    resize:none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.text-form input{
    width: 100%;   
}
.submission{
   height: 2.4rem;
   color:#fff;
   margin:1rem 0 0.75rem 0;
   background: #34a8fb;
   border: none;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}
.preservation{
    height: 2.4rem;
    color:#34a8fb;
    background: #fff;
    border:1px solid #34a8fb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.encl button{
    background: #fb5152;
}
.encl span{
    width: 40%;
    font-size: 0.75rem;
    color: #9eabb5;
    margin: 1.4rem 0 0 0rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}