 .header {  
            display: -webkit-box;   
            display: -webkit-flex;  
            display: flex;  
            -webkit-box-pack: center;
            -webkit-box-align: center;  
            -webkit-align-items: center;    
            -webkit-justify-content: center;    
            background-color: #34A8FA ; 
            min-height: 45px;
        }
        .menu_left{width:80px;}
        .menu_right{ width:80px;  } 
        .header .icon{  
            display: block; 
            background-size: 25px;  
            background-repeat: no-repeat;   
            background-position: center;    
            margin-right:10px;
        }   
        .menu{  
            background-image: url("../../../image/training/jsyx/menu.png"); 
            /*background-color:#41c0a9;*/
            background-position: top right; 
            height: 50px;
            width:37px;
            float: right;
            
        }
        .return{
            background-image: url("../../../image/training/jsyx/return_ico.png");
           background-repeat: no-repeat;    
            background-position: top left;  
            height: 16px;
            line-height:16px;
            margin-left: 10px;
            font-size: 14px;
            color: #FFFFFF;
            width: 50px;
            padding-left: 20px;
        }   
        .locationWrap { 
            display: -webkit-box;   
            display: -webkit-flex;  
            display: flex;  
            height: 40px;   
            -webkit-box-flex: 1;    
            -webkit-flex: 1;    
            flex: 1;
        }   
        .location{  
            color: #fff;    
            line-height: 40px;      
            background-size: 16px;  
            font-size:20px;
            text-align:center;
           margin:0 auto;
         }  