<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>主题活动</title>
    <link rel="stylesheet" type="text/css" href="../../../../../css/aui/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../css/module/ipad/left-right-layout.css"/>
    <link id="j_theme_base" rel="stylesheet" type="text/css" href="" />
    <style>
    	.right-layout-body .praise-comment-content .comment-infor ul li .comment-opt .reply{background:url(../../../../../image/fun-module/ipad/zthd/comment-bg.png) right center no-repeat;background-size:20px auto;}
    	.right-layout-body .praise-comment-content .comment-infor ul li .comment-opt .delete{background:url(../../../../../image/fun-module/ipad/zthd/delete.png) right center no-repeat;background-size:auto 18px;}
        .ima_notice{padding:5px 0 !important;margin-bottom:0 !important;}
    </style>
</head>
<body id="j_body" class="right-layout-body common-ipad-zthd-tea">
	<div id="j_title" class="detail-title word-wrap" style="padding-top: 0px;color:#34a8Fa"></div>
	<div id="j_content" class="detail-content word-wrap clearfix"></div>
	<div class="praise-comment-content">
		<div class="triangle-down">&nbsp;</div>
		<div class="praise-infor">
			<div class="bg"></div>
			<div id="j_praise_no_data" class="no-data">暂无点赞</div>
			<div id="j_praise_person" class="detail word-wrap aui-hide">
			</div>
		</div>
		<div id="comment_body" class="comment-infor">
			<div class="bg"></div>
			<div class="no-data">暂无评论</div>
		</div>
		<script type="text/html" id="comment_script">
			<% if(reply_list.length == 0){ %>
				<div class="bg"></div>
				<div class="no-data">暂无评论</div>
			<% }else{ %>
				<ul>
				<%for(var i=0; i < reply_list.length; i++) {%>
					<li>
						<img class="header-img" onerror="this.src='../../../../../image/common/header.png'" src="<%=reply_list[i].icon_url%>" />
						<div class="person-name ellipsis" style="color:#34a8Fa"><%=reply_list[i].person_name%></div>
						<div class="time"><%=reply_list[i].time %></div>
						<div class="comment-text word-wrap">
							<%if(reply_list[i].has_reply){%>
								回复<font class="plr5"><%=reply_list[i].parent_person_name%></font>
							<%}%>
							<%=#reply_list[i].content %>
						</div>
						<div class="comment-opt">
							<%if(reply_list[i].show_delete){%>
								<div class="delete fr" onclick="popTwoBtnConfirm('提示','确定删除该评论内容？','messageBoard_deletePost(<%=reply_list[i].topic_id %>,<%=reply_list[i].id %>)');">&nbsp;</div>
							<%}%>
							<div class="reply fr" onclick='openCommentFrame(0,<%=reply_list[i].id %>,1);'>&nbsp;</div>
						</div>
					</li>
				<%}%>
				</ul>
			<%}%>
		</script>
	</div>
</body>
<script type="text/javascript" src="../../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../../script/base_config.js" ></script>
<script type="text/javascript" src="../../../../../script/plug-in/template.js" ></script>
<script type="text/javascript" src="../../../../../script/common/common.js"></script>
<script type="text/javascript" src="../../../../../script/plug-in/base64.js" ></script>
<script type="text/javascript" src="../../../../../script/assembly/UIAlbumBrowser.js"></script>
<script type="text/javascript" src="../../../../../script/assembly/getPicture.js"></script>
<script type="text/javascript" src="../../../../../script/assembly/photoBrowser.js"></script>
<script type="text/javascript" src="../../../../../script/assembly/openResource.js" ></script>
<script type="text/javascript" src="../../../../../script/assembly/scrollPicture.js" ></script>
<script type="text/javascript">
	var oparam_data;//从list页面传递过来的参数
	var oparam_base64;//从list页面传递过来的参数
	var currentPage = 1;//当前分页数
	var totalPages = 0;//总页数
	var works_person_id;//发表作品的人的id
	var netAudio;//播放录音对象
	var imageArray=[];//图片路径
	var header_h;
	var contentData;//存储作品数据
	apiready = function(){
	    header_h = api.pageParam.header_h;
		netAudio = api.require('netAudio');
		commonScrollBottomReload();
		setData(api.pageParam.data);
		commonRefreshHeaderInfo();
	};
	/*
	*author:zhaoj
	*function:关闭页面
	*date：20170912
	*/
	function closeFrame(){
		commonExecScript(api.winName,'','back();',0);
	}
	/*
	*author:zhaoj
	*function:打开评论页面
	*param:type=0:代表作品增加评论，type=1：代表作品回复评论
	*date：20171019
	*/
	function openCommentFrame(id, parent_id, type){
		commonExecScript(api.winName,'','openCommentFrame('+oparam_data.works_id+','+parent_id+','+type+');',0);
	}
	
	function setData(predata){
		oparam_data = api.pageParam.oparam_data;
		oparam_base64 = api.pageParam.oparam_base64;
		imageArray = [];
		predata.content = commonTransferBrStr(predata.content);
		//缩略图
		var thumb_ids=JSON.parse(predata.thumb_ids);
		for(var j = 0; j < thumb_ids.length; j++){
		  
		      var  onerror_img="this.src='../../../../../image/common/tpsx.png'";
		      var index = thumb_ids[j].indexOf('.');
		      var file_id=thumb_ids[j].substring(0,index);
              var ext = thumb_ids[j].substring(index+1,thumb_ids[j].length);
		      var click_html='displayResource("'+thumb_ids[j]+'",this)';
              img_html+='<img onclick='+click_html+' class="ima_notice" src="'+gertImageUrl(file_id,ext,1)+'" onerror='+onerror_img+' >';   
        }
		//附件
		predata.thumbs=[];
		var attachment=predata.attachment;
		var img_html='';
		var imgIndex = 0;
		var other_html='';
		if(attachment != "[]"){
			for(var j = 0; j < attachment.length; j++){
				var ext = attachment[j].resource_format;
				var oparam = new Object();
				oparam.file_id = attachment[j].file_id;
				oparam.resource_id_int = attachment[j].resource_id_int;
                oparam.resource_format = attachment[j].resource_format;
				oparam.image_url = gertImageUrl(attachment[j].file_id,ext,1);
				oparam.image_url_yt = gertImageUrl(attachment[j].file_id,ext,0);
				oparam.ext=ext.toLowerCase();;
				
				var click_html='openAttachment("'+attachment[j].resource_id_int+'","'+attachment[j].resource_format+'",this,event)';
				if(ext=='png' || ext=='jpg'|| ext=='bmp'|| ext=='gif'){
					oparam.imgIndex = imgIndex;
					imgIndex++;
					var imgUrl = gertImageUrl(attachment[j].file_id,ext,1);
					imageArray.push(imgUrl);
					var  onerror_img="this.src='../../../../../image/common/tpsx.png'";
					click_html='openAttachment("'+attachment[j].resource_id_int+'","'+attachment[j].resource_format+'",this,event,'+oparam.imgIndex+')';
					img_html+='<img onclick='+click_html+' class="ima_notice" src="'+imgUrl+'" onerror='+onerror_img+' >';	
				}else{
					var wid_a = $api.cssVal($api.byId("j_content"),"width");
					var wid_a_num = wid_a.substring(0,wid_a.length-2) - 50;
					if(ext=='flv' || ext=='mp4' || ext=='avi' || ext=='wmv'){  //视频
						console.log("状态");
						console.log(attachment[j].m3u8_status);
//						if (parseInt(attachment[j].m3u8_status)===2 || parseInt(attachment[j].m3u8_status)===0){
//					    	var thumb_url = BASE_URL_ACTION+"/html/down/Thumbs/" + attachment[j].thumb_id.substr(0,2)+"/"+attachment[j].thumb_id+".thumb";
//					    	img_html+='<div style="width:150px;float:left;"><img class="production-play-img" onclick='+click_html+' style="display:block;width:150px;background-color: black;opacity: 0.7;position: absolute;" src="../../../../../image/fun-module/ipad/zthd/play.png"><img style="width:150px;float:left;" onclick='+click_html+' src="'+thumb_url+'" ></div>';	
//					    }else{
//					    	img_html+='<div style="width:33%;float:left;margin-bottom: 5px;margin-top:5px;"><img style="width:90%;float:left;" onclick='+click_html+' src="'+gertImageUrl(attachment[j].file_id,ext,1)+'" ></div>';	
//					    }
					    
					    if (parseInt(attachment[j].m3u8_status)===2 || parseInt(attachment[j].m3u8_status)===0){
					    	var thumb_url = BASE_URL_ACTION+"/html/down/Thumbs/" + attachment[j].thumb_id.substr(0,2)+"/"+attachment[j].thumb_id+".thumb";
					    	var height_div = wid_a_num * 0.33 * 0.9 * 0.75;
					    	wid_a_num = wid_a_num * 0.33 * 0.9 - 6;
					    	other_html+='<div style="width:33%;float:left;margin-bottom: 5px;margin-top:5px;height:'+height_div+'px !important;"><table style="height: 100% !important"><tbody><tr><td><img class="production-play-img" onclick='+click_html+' style="display:block;width:'+wid_a_num+'px;background-color: black;opacity: 0.7;position: absolute;" src="../../../../../image/fun-module/ipad/zthd/play.png"><img style="display:block;width:'+wid_a_num+'px;float:left;" onclick='+click_html+' src="'+thumb_url+'" ></td></tr></tbody></table></div>';	
//									    	img_html+='<div style="width:150px;float:left;"><img class="production-play-img" onclick='+click_html+' style="width:150px;background-color: black;opacity: 0.7;position: absolute;" src="../../../../../image/fun-module/ipad/zthd/play.png"><img style="width:150px;float:left;" onclick='+click_html+' src="'+thumb_url+'" ></div>';	
					    }else{
					    	other_html+='<div style="width:33%;float:left;margin-bottom: 5px;margin-top:5px;height:'+height_div+'px !important;"><img style="width:90%;float:left;" onclick='+click_html+' src="'+gertImageUrl(attachment[j].file_id,ext,1)+'" ></div>';	
					    }
					}else{  //音频
						var height_div = wid_a_num * 0.33 * 0.9 * 0.75;
						other_html+='<div style="width:33%;float:left;margin-bottom: 5px;margin-top:5px;height:'+height_div+'px;"><table style="height: 100%;"><tbody><tr><td><img style="width:90%;float:left;vertical-align:middle;" onclick='+click_html+' src="'+gertImageUrl(attachment[j].file_id,ext,1)+'" ></td></tr></tbody></table></div>';	
					}
					
				}
				
				predata.thumbs.push(oparam);
			}	
		}
		//作品详情
		img_html = img_html + other_html;
		predata.content = '<div class="clearfix">' +　predata.content　+ '</div>' +img_html;
		$api.html($api.byId('j_content'), predata.content);
		works_person_id = predata.person_id;
		$api.text($api.byId('j_title'), predata.name);
		//获取点赞数据
		getPraiseinfoList();
	}
	
	 /*
    *author:zhaoj
    *function:打开附件
    *date：20171023
    */
    function openAttachment(resource_id_int,resource_format,self,e,imgIndex){
    	if (resource_format=='png' || resource_format=='jpg' || resource_format == 'bmp' || resource_format =='gif'){
    		openPictureShowWin(imageArray,imgIndex);
    		return;
    	}
    	
        var param_json = {"is_show_tip":1,"resource_id_int":resource_id_int};
        commonGetResInfo(param_json,function(flag,ret){
            api.hideProgress();
            if(flag){
                if(resource_format != "mp3"){
                    //不是音频的播放方式
                    var oparam ={"res_type":ret.resource_format, "res_path":ret.file_id, "res_title":ret.resource_title,"m3u8_status":ret.m3u8_status,"winName":api.winName,"setBackFun":'reBackType("voice");',"backFun":'back();',"res_id":'open_picture',"pic_back":'picture_works_detail'};
                     common_openResource.open_new(JSON.stringify(oparam));
                }else{
                    //音频的播放方式
                    var res_url='';
                    if (BASE_APP_TYPE == 1) {
                        res_url = BASE_IMAGE_PRE+"down/Material/" + ret.file_id.substring(0, 2) + "/" + ret.file_id+'.'+ret.resource_format;        
                    } else {
                        res_url = BASE_URL_ACTION + "/html/thumb/Material/" + ret.file_id.substring(0, 2) + "/" + ret.file_id+'.'+ret.resource_format;
                    }
                    if($api.hasCls(self, 'is_play')){
                        //停止播放
                        $api.removeCls(self, 'is_play');
                        var img_dom = $api.dom(self, 'img');
                        $api.attr(img_dom, 'src','../../../../../image/fun-module/ipad/zthd/voice-bg.png');
                        stopVoice(self);
                    }else{
                        //正在播放
                        $api.addCls(self, 'is_play');
                        openAudio(res_url,self);
                    }
                }
            }else{
                popToast('打开失败，请稍候重试');
            }
        });
        e.stopPropagation();
    }
    /*
    *author:zhaoj
    *function:预览上传的图片、视频以及音频
    *date：20171020
    */
    function displayResource(url,self){
        var res_url='';
        if (BASE_APP_TYPE == 1) {
            res_url = BASE_IMAGE_PRE+"down/Material/" + url.substring(0, 2) + "/" + url;        
        } else {
            res_url = BASE_URL_ACTION + "/html/thumb/Material/" + url.substring(0, 2) + "/" + url;
        }
        openPictureShowWin([res_url],0);
    }
     /*
    *author:zhaoj
    *function:播放音频
    *date：20171024
    */
    function openAudio(voice_url,self){
    	commonShowProgress('加载中...',false);
    	netAudio.play({
		    path: voice_url
		},function( ret, err ){    
		    if( ret ){
		    	if(ret.current == 0){
		    		api.hideProgress();
		    		$api.attr(self, 'src','../../../../../image/fun-module/ipad/zthd/voice-bg.gif');
		    	}
		    	if(ret.complete==true){
					popToast('播放完毕');
					$api.removeCls(self, 'is_play');
					$api.attr(self, 'src','../../../../../image/fun-module/ipad/zthd/voice-bg.png');		
		    	}
		    }else{
		    	api.hideProgress();
		    	popToast('加载失败');
		    }
		});
    }
    /*
	*author:zhaoj
	*function:停止录音
	*date：20171024
	*/
	function stopVoice(self){
		netAudio.stop();
	}
	/*
    *author:zhaoj
    *function:获取缩率图路径
    *date：20171023
    */
	function gertImageUrl(file_id,ext,type){
		var img_url='';//图片路径
		if(ext == 'png' || ext == 'PNG'|| ext == 'jpg'|| ext == 'JPG'|| ext == 'gif'|| ext == 'GIF'|| ext == 'bmp'|| ext == 'BMP'){
			image_hz = type?commonReturnPhotoCutSize(0):'';
			if (BASE_APP_TYPE == 1) {
				img_url = BASE_IMAGE_PRE+"down/Material/" + file_id.substring(0, 2) + "/" + file_id+'.'+ext+ image_hz;		
			} else {
				img_url = BASE_URL_ACTION + "/html/thumb/Material/" + file_id.substring(0, 2) + "/" + file_id+'.'+ext+image_hz;
			}
		}else if(ext == 'mp3'||ext == 'wav'){
			img_url = '../../../../../image/fun-module/ipad/zthd/voice-bg.png';
		}else if(commonContainsArray(support_extension,ext)){
			img_url = '../../../../../image/fun-module/ipad/zthd/vedio-bg.png';
		}else if(ext == 'doc'||ext == 'docx'){
		  img_url = '../../../../../image/fun-module/ipad/zthd/doc.png';
		}else if(ext == 'xls'||ext == 'xlsx'){
		  img_url = '../../../../../image/fun-module/ipad/zthd/xls.png';
		}else if(ext == 'txt'){
		  img_url = '../../../../../image/fun-module/ipad/zthd/txt.png';
		}else if(ext == 'sb2'){
		  img_url = '../../../../../image/fun-module/ipad/zthd/sb2.png';
		}else if(ext == 'ppt' || ext == 'pptx'){
          img_url = '../../../../../image/fun-module/ipad/zthd/ppt.png';
        }
		return img_url;
	}
	/*
	*author:zhaoj
	*function:初始化列表数据
	*date：20170913
	*/
	function initData(current_page){
		currentPage = current_page;
//		getCommentInfo();
		commonExecScript(api.winName, 'zthdIpad_works_detail_frame', 'isExistsPraise(1,true);', 1);
		getPraiseinfoList();
	}
	/*
	 *author:zhaoj
	 *function:获取评论信息
	 *interface:张海
	 *date：20171025
	 */
	function getCommentInfo() {
		api.ajax({
			url : BASE_URL_ACTION + '/bbs/topic/view?pageNumber=' + currentPage + '&pageSize=' + BASE_PAGE_SIZE + '&sort=1&type_id=' + "space_topic_works_" + oparam_data.works_id + '&message_type=2&random_num=' + creatRandomNum(),
			method : 'get',
			dataType : 'json',
			cache : false,
			timeout : 30,
			headers : {
				'Cookie' : 'person_id=' + $api.getStorage("person_id") + ';identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
			}
		}, function(ret, err) {
			api.hideProgress();
			commonControlRefresh();
			if(err){
				popToast('获取评论信息失败，请稍候重试');
			}else{
				if (ret.success) {
					totalPages = ret.totalPage;
					var list = ret.reply_list;
					//对数据进行处理
					for (var i = 0; i < list.length; i++) {
						//评论时间显示的处理
						list[i]["time"] = list[i].create_time.substring(0, 16);
						list[i]["content"] = commonTransferBrStr(list[i]["content"]);
						//是否是回复
						if (list[i].parent_person_id * 1) {
							list[i]["has_reply"] = 1
						} else {
							list[i]["has_reply"] = 0;
						}
						//是自己发表的评论,活动发起人以及作品上传人，可以删除评论，
						commonJudgeRoles(function(type){
                            if ( $api.getStorage("person_id") * 1 == list[i].person_id * 1 || works_person_id == $api.getStorage("person_id") * 1 ||oparam_base64.person_id* 1  ==$api.getStorage("person_id") * 1 ) {
                                list[i]["show_delete"] = 1;
                            }else if(type == 3 || type == 5){
                                list[i]["show_delete"] = 1;
                            }  else {
                                list[i]["show_delete"] = 0;
                            }
                        });
						//获取头像
						if(BASE_APP_TYPE == 1){
							list[i].icon_url = BASE_IMAGE_PRE + url_path_suffix + list[i].icon_url.substring(0, 2) + "/" +list[i].icon_url + commonReturnPhotoCutSize(0);
						}else{
							list[i].icon_url = BASE_URL_ACTION + BASE_IMAGE_BEGIN + list[i].icon_url.substring(0, 2) + "/" + list[i].icon_url + commonReturnPhotoCutSize(0);
						}
					}
					commonAddManyHtml('comment_body', 'comment_script', ret);
				} else {
					popToast('获取评论信息失败，请稍候重试');
				}
			}
		});
	}
	/*
	*author:zhaoj
	*function:取消点赞
	*interface:张海
	*date：20171025
	*/
	function cancelPraise(){
		api.ajax({
			url : BASE_URL_ACTION + '/ypt/space/topic/cancel_praise_works',
			method : 'post',
			timeout : 30,
			dataType : 'json',
			data : {
				values : {
					random_num : creatRandomNum(),
					works_id : oparam_data.works_id,
					identity_id	 : $api.getStorage("identity"),
					person_id :$api.getStorage("person_id")
				}
			},
			headers : {
	'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
}
		}, function(ret, err) {
			if (err) {
				popToast('取消失败');
			} else {
				if(ret.success){
					popToast('取消点赞');
					oparam_data.praise--;
					setIndexFramePraiseNum();
				}else{
					popToast('取消失败');
				}
			}
		});
	}
	/*
	 *author:zhaoj
	 *function:删除留言
	 *interface:张海
	 *date：20171025
	 */
	function messageBoard_deletePost(topic_id, postid) {
		showSelfProgress('删除中...');
		api.ajax({
			url : BASE_URL_ACTION + '/ypt/bbs/post/delete',
			method : 'get',
			dataType : 'json',
			timeout : 30,
			cache : false,
			data : {
				values : {
					"random_num" : creatRandomNum(),
					"topic_id" : topic_id,
					"post_id" : postid
				}
			},
			headers : {
				'Cookie' : 'person_id=' + $api.getStorage("person_id") + ';identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
			}
		}, function(ret, err) {
			if (err) {
				api.hideProgress();
				popToast("删除评论失败");
			}else{
				if (ret.success) {
					setTimeout(function() {
						popToast("删除成功");
						getCommentInfo();
						setIndexFrameCommentNum(0);
					}, 2000);
					subCommentNum();
				} else {
					api.hideProgress();
					popToast("删除评论失败，" + ret.info);
				}
			}
		});
	}
	/*
	 *author:zhaoj
	 *function:删除留言数
	 *interface:张海
	 *date：20171025
	 */
	function subCommentNum() {
		api.ajax({
			url : BASE_URL_ACTION + '/ypt/space/topic/sub_comment_num',
			method : 'post',
			dataType : 'json',
			timeout : 30,
			cache : false,
			data : {
				values : {
					"random_num" : creatRandomNum(),
					"works_id" : oparam_data.works_id
				}
			},
			headers : {
				'Cookie' : 'person_id=' + $api.getStorage("person_id") + ';identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
			}
		}, function(ret, err) {
		});
	}
	/*
	*author:zhaoj
	*function:设置列表数据点赞数量显示
	*date：20170914
	*/
	function setIndexFramePraiseNum(){
		getPraiseinfoList();
		if(oparam_data.type){
			commonExecScript(api.winName,'zthdIpad_my_works_frame','setIndexFramePraiseOrCommentNum(0,'+oparam_data.praise+','+oparam_data.works_id+');',1);
		}else{
			commonExecScript(api.winName,'zthdIpad_activity_works_frame','setIndexFramePraiseOrCommentNum(0,'+oparam_data.praise+','+oparam_data.works_id+');',1);
		}
	}
	/*
	*author:zhaoj
	*function:获取点赞数据
	*interface:张海
	*date：20171025
	*/
	function getPraiseinfoList(){
		api.ajax({
			url : BASE_URL_ACTION + '/space/praise/get_praiseinfo_list?random_num='+creatRandomNum()+'&business_type=6&business_id='+oparam_data.works_id+'&page_num=1&page_size=9999',
			method : 'get',
			timeout : 30,
			dataType : 'json',
			headers : {
	'Cookie' : 'person_id=' + $api.getStorage("person_id") + '; identity_id=' + $api.getStorage("identity") + '; token=' + $api.getStorage("token_ypt") + ';'
}
		}, function(ret, err) {
			if (err) {
				api.hideProgress();
				popToast('获取点赞信息失败，请稍候重试');
			} else {
				if(ret.success){
					var person_name="";
					if(ret.praise_list.length > 0){
						$api.addCls($api.byId('j_praise_no_data'), 'aui-hide');
						person_name = "";
						for(var i = 0; i < ret.praise_list.length; i++){
							if(i == 0){
								person_name += ret.praise_list[i].person_name;
							}else{
								person_name += '，'+ret.praise_list[i].person_name;
							}
						}
						$api.html($api.byId('j_praise_person'), person_name);
						$api.removeCls($api.byId('j_praise_person'), 'aui-hide');
					}else{
						$api.html($api.byId('j_praise_person'), "");
						$api.addCls($api.byId('j_praise_person'), 'aui-hide');
						$api.removeCls($api.byId('j_praise_no_data'), 'aui-hide');
					}
					getCommentInfo();//获取评论的数据
				}else{	
					api.hideProgress();
					popToast('获取点赞信息失败，请稍候重试');
				}
			}
		});
	}
	/*
	*author:zhaoj
	*function:设置列表评论数量显示
	*date：20170914
	*/
	function setIndexFrameCommentNum(type){
//		initData(1);
		if(type){
			oparam_data.comment++;
		}else{
			oparam_data.comment--;
		}
		if(oparam_data.type){
			commonExecScript(api.winName,'zthdIpad_my_works_frame','setIndexFramePraiseOrCommentNum(1,'+oparam_data.comment+','+oparam_data.works_id+');',1);
		}else{
			commonExecScript(api.winName,'zthdIpad_activity_works_frame','setIndexFramePraiseOrCommentNum(1,'+oparam_data.comment+','+oparam_data.works_id+');',1);
		}
		api.hideProgress();
	}
    /*
    *author:zhaoj
    *function:设置列表预览数量显示
    *date：20170914
    */
    function setIndexFrameYulanNum(){
        oparam_data.yulan++;
        if(oparam_data.type){
            commonExecScript(api.winName,'zthdIpad_my_works_frame','setIndexFramePraiseOrCommentNum(3,'+oparam_data.yulan+','+oparam_data.works_id+');',1);
        }else{
            commonExecScript(api.winName,'zthdIpad_activity_works_frame','setIndexFramePraiseOrCommentNum(3,'+oparam_data.yulan+','+oparam_data.works_id+');',1);
        }
    }
</script>
</html>